.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__left {
  flex: 0.9;
}
.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app_stats {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
.app__countries {
  width: 150px;
}
.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}